.spinner-svg {
  height: 70px;
  width: 70px;
  position: relative;
  animation: rotate 3s linear infinite;
}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg)
  }
}

.spinner-svg circle {
  fill: none;
  stroke-width: 5px;
  stroke: hsl(197, 88%, 58%);
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: spin 3s linear infinite;
}
@keyframes spin{
  0%,100%{
    stroke-dashoffset: 200;
  }
  50%{
    stroke-dashoffset: 00;
  }
  50.01%{
    stroke-dashoffset: 400;
  }
}

