.form {
    border: 1px solid black;
    margin: auto;
    max-width: 900px;
    ul {
        display: grid;
    }
    input {
        background: hsla(0, 0%, 38%, 0.116);
        border-radius: 1rem;
        padding: .5rem .75rem;
        outline: 2px solid gray;
    }
}

/* button {
    cursor: pointer;
    padding: .5rem 1rem;
    width: 80px;
    margin: auto;
    border-radius: 5rem;
    background:#ebd567;
    
 
    &:active {
        transform: scale(0.7);
        transition: transform 0.1s ease-in-out;
    }
} */
